* {
  box-sizing: border-box;
}

.js-custom-select {
  //display: none;
}

.custom-select {
  display: inline-block;
  position: relative;

  .custom-select-list {
    position: absolute;
    top: 100%;
    left: 0;
  }

  .custom-select-list-hidden {
    visibility: hidden;
  }

  .custom-select-option, .custom-select-trigger {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .5rem 1.5rem .5rem .5rem;
    font-size: 1.25rem;
    white-space: nowrap;
  }

  .custom-select-trigger {
    position: relative;

    &:after {
      content: '';
      border-style: solid;
      border-width: 8px 6px 0;
      border-color: black transparent transparent transparent;
      position: absolute;
      right: 5px;
    }
  }

  .custom-select-preview {
    width: 1.25rem;
    height: 1.25rem;;
    margin-right: .25rem;
  }
}